$news-wrap-padding: 10px 20px 10px 15px;
news {
  padding: 15px 42px 20px 20px;

  img {
    max-width: 100%;
  }

  .news-add {
    padding: 0;
    background-color: $shark;
    margin-bottom: 20px;

    img.img-responsive {
      max-width: 30px;
    }
  }

  .news-add-publication {
    padding: $news-wrap-padding;
    padding-bottom: $base-margin * 2;

    .news_input {
      background-color: $shuttleGray-light;
      padding: $base-margin/2;
      padding-left: $base-margin;
      .news-content {
        width: calc(100% - 130px);
      }
    }
    .media_selector {
      float: none;
      position: absolute;
      bottom: 40px;
      right: 140px;
    }
    .ms_item {
      position: absolute;
      left: 5px;
      content: '';
      width: 14px;
      height: 12px;
      &:hover {
        opacity: 0.75;
        cursor: pointer;
      }
      &_photo{
        background: url($assetPath + "img/icons/camera@2x.png") no-repeat;
        left: 0;
      }
      &_video{
        background: url($assetPath + "img/icons/android-film@2x.png") no-repeat;
        left: 25px;
      }
      &_audio{
        background: url($assetPath + "img/icons/music-note@2x.png") no-repeat;
        left: 50px;
      }
      &_edit{
        background: url($assetPath + "img/icons/pencil@2x.png") 8px 8px no-repeat;
        left: 75px;
        border-left: 1px solid $mako;
        height: $base-margin*3;
        top: - $base-margin;
        width: $base-margin*2+4;
      }
      &_shape{
        background: url($assetPath + "img/icons/shape.svg") no-repeat;
        left: 100px;
        top: 3px;
      }
    }
  }

  .news-head,
  .news-body,
  .news-footer {
    padding: $news-wrap-padding;
  }
  .news-head {
    .mr-1 {
      margin-right: $base-margin;
    }
    .share {
      font-size: $size-info;
    }
    h4 {
      margin-bottom: 3px;
    }
    .dropdown-menu-dots {
      content: '';
      width: 10px;
      height: 22px;
      margin-top: 2px;
      display: block;
      float: right;
      background: url($assetPath + "img/icons/side-menu.png") no-repeat;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .news-body {
    border-top: 1px solid $mako;
    border-bottom: 1px solid $mako;
    .block-info-image {
      background: center center no-repeat; // url($assetPath + "img/maxresdefault.jpg")
      width: 100%;
      max-height: 100%;
      height: 220px;
      background-size: cover;
      padding: $base-margin $base-margin*2;
      .block-info-content {
        padding-top: 90px;
        h1 {
          max-height: 28px;
          overflow: hidden;
        }
        .block-info-text {
          position: absolute;
          bottom: 56px;
          max-height: 40px;
          padding-right: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .block-info-video {
      background: url($assetPath + "img/video.jpg") center center no-repeat;
      max-width: 560px;
      height: 315px;
      background-size: cover;
      margin-top: 8px;
    }
  }
  .news-footer {
    .comment,
    .viewed {
      margin-right: $base-margin*2;
      &.btn {
        padding: 6px;
        border-radius: 4px;
        &:hover {
          background-color: #525c66;
          .icon-comment { background-image: url($assetPath + "img/icons/comment-filled.svg"); }
          .icon-eye { background-image: url($assetPath + "img/icons/eye.svg"); }
          .icon-like { background-image: url($assetPath + "img/icons/like-filled.svg"); }
          .icon-share {  background-image: url($assetPath + "img/icons/share-filled.svg"); }
        }
      }
    }

    .icon-comment,
    .icon-eye,
    .icon-like,
    .icon-share{
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: $base-margin/2;
      vertical-align: middle;
    }
    .icon-comment {
      background-image: url($assetPath + "img/icons/comment.svg");
    }
    .icon-eye {
      background-image: url($assetPath + "img/icons/eye.svg");
      &:hover {
        background-image: url($assetPath + "img/icons/eye.svg");
      }
    }
    .icon-like {
      background-image: url($assetPath + "img/icons/like.svg");
      &:hover {
        background-image: url($assetPath + "img/icons/like-filled.svg");
      }
    }
    .icon-share {
      background-image: url($assetPath + "img/icons/share.svg");
      &:hover {
        background-image: url($assetPath + "img/icons/share-filled.svg");
      }
    }

  }

  /* Video popup */
  .show-video-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    top: 0;
    left: 0;

    .video-container {
      position: absolute;
      left: 0;
      top: calc(50% - 300px);
      bottom: 0;
      right: 0;
      margin: 0 auto;
      display: inline-block;
      width: 800px;
      height: 600px;

      iframe {
        width: 800px;
        height: 600px;
      }
    }
  }
}
