.widget-games {
  h4 {
    color: $iron;
    margin-top: 14px;
  }
  .date-time {
    margin-left: 10px;
  }
  img {
    border: 0;
    padding: 0;
    border-radius: 2px;
    width: 40px;
    height: 30px;
    margin: 0 2px;
  }
  .vs {
    background: url($assetPath + "img/icons/vs-icon.png") center center no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
  }

  li.list-group-item {
    img {
      width: 36px;
      height: 24px;
    }
    .puny-vs {
      color: $iron;
    }
    .user-name {
      font-size: $size-links-small;
    }
    .date-time,
    .date {
      margin: 0;
    }
    .date-time {
      color: $iron;
    }

    &:last-child {
      margin-bottom: 8px;
    }
  }
}
