/*Fonts*/
$font-h1: "Ubuntu-Bold",$base-font-family;
$font-h2: "Ubuntu-Bold",$base-font-family;
$font-h3: "Ubuntu-Bold",$base-font-family;
$font-h4: "Ubuntu-Bold",$base-font-family;
$font-h5: "Ubuntu-Regular",$base-font-family;
$font-h6: "Ubuntu-Regular",$base-font-family;

$font-body:         "Ubuntu-Regular",$base-font-family;
$font-descriptions: "Ubuntu-Regular",$base-font-family;

$font-info:       "Ubuntu-Medium",$base-font-family;
$font-table:      "Ubuntu-Medium",$base-font-family;
$font-links:      "Ubuntu-Medium",$base-font-family;
$font-button:     "Ubuntu-Medium",$base-font-family;
$font-tag:        "Ubuntu-Medium",$base-font-family;
$font-links-small:"Ubuntu-Medium",$base-font-family;

$font-menu: "Ubuntu-Bold",$base-font-family;
$font-bold: "Ubuntu-Bold",$base-font-family;
$font-numbers: "Ubuntu-Bold",$base-font-family;

/*Sizes header*/
$size-h1: 1.25rem;  //20
$size-h2: 1rem;    //16px
$size-h3: 0.875rem; //14px
$size-h4: 0.75rem;  //12px
$size-h5: 0.625rem;  //10px
$size-h6: 0.5rem;  //8px

$size-base: 1rem;

$size-button-big: 0.875rem;
$size-body:        0.875rem;
$size-links:       0.875rem; //14px

$size-info:        0.75rem;
$size-links-small: 0.75rem;
$size-button:      0.75rem;
$size-table:       0.75rem;  //12px

$size-puny:         0.625rem;
$size-tag:          0.625rem;
$size-descriptions: 0.625rem;  //10px


// Line heights
$line-height-h1: 24px;
$line-height-h2: 20px;
$line-height-h3: 18px;
$line-height-h4: 16px;
$line-height-h5: 14px;
$line-height-h6: 12px;

$line-height-body: 20px;


