<html>
<head>
  <title>GCL</title>
  <meta charset="UTF-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.0/css/froala_editor.css"
        crossorigin="anonymous">
  <!--<link type="text/css" href="//www.tinymce.com/css/codepen.min.css" rel="stylesheet">-->
  <link type="text/css" href="../../../dist/public/css/main.css" rel="stylesheet">

  <!--<link type="text/css" href="../../dist/public/css/ng2-toastr.css" rel="stylesheet">-->
</head>
<body>
<!--template start-->

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse container-fluid nopadding">
  <div class="container-fluid top-line-images">
    <div class="container">
      <div class="col-md-12 text-xl-center">
        <div class="logos-l">
          <ul>
            <li class="team-logo-name1"></li>
            <li class="team-logo-name2"></li>
            <li class="team-logo-name3"></li>
            <li class="team-logo-name1"></li>
            <li class="team-logo-name2"></li>
            <li class="team-logo-name3"></li>
          </ul>
        </div>
        <div class="logos-r">
          <ul>
            <li class="team-logo-name1"></li>
            <li class="team-logo-name2"></li>
            <li class="team-logo-name3"></li>
            <li class="team-logo-name1"></li>
            <li class="team-logo-name2"></li>
            <li class="team-logo-name3"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="input-group">
          <div class="input-group-btn">
            <div class="dropdown-toggle-box separator">
              <button class="btn btn-transparent dropdown-toggle base strong text-uppercase " type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dota 2
                </button>
            </div>
            <div class="dropdown d-inline-block align-middle">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">CS:GO</a>
                <a class="dropdown-item" href="#">Dota</a>
              </div>
            </div>
          </div>
          <button id="search-button" class="button button-search"></button>
          <!--show on click "#search-button"-->
          <form action="#" class="bd-search hidden-sm-down" style="display: none">
            <input class="form-control" id="top-search" name="top-search" placeholder="Search for something..." type="text">
          </form>
        </div>
      </div>
      <div class="col-sm-2 text-xs-center nopadding">
        <span class="navbar-brand" (click)="navigateToHome()">CYBER <span></span> GATES</span>
        <div class="brand-bg"></div>
      </div>
      <div class="col-sm-5 text-xs-right">
        <ul class="nav navbar-nav pull-right mr-2">
          <!--<li class="nav-item">
            <div class="btn-group">
              <button class="btn btn-transparent" [class.btn-warning]="lS.localizationPreference === Localization.English" type="button"
                (click)="setLanguage(Localization.English)">
                EN
                </button>
                <button class="btn btn-transparent" [class.active]="lS.localizationPreference === Localization.Russian" type="button" (click)="setLanguage(Localization.Russian)">
                RU
              </button>
                <button *ngIf="!authService.isAuth" class="btn btn-transparent" type="button" (click)="showRegistrationModal()">
                registration
              </button>
                <button *ngIf="!authService.isAuth" class="btn btn-transparent" type="button" (click)="showLoginModal()">
                login
              </button>
                <div class="btn-group" role="group" *ngIf="authService.isAuth">
                  <div class="dropdown" [class.open]="userInformationService.dropDown">
                    <button *ngIf="authService.isAuth" class="btn btn-secondary dropdown-toggle" (click)="toggleDropDown()">
                    name
                  </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item btn" (click)="navigateToSettings()">settings </a>
                      <a class="dropdown-item btn" (click)="navigateToProfile()"> Profile </a>
                      <button class="dropdown-item btn" (click)="logOut()">exit</button>
                    </div>
                  </div>
                </div>
            </div>
          </li>-->
          <li class="nav-item">
            <div class="separator separator-noright pull-left">
              <button class="button button-dollar"></button>
            </div>
            <div class="separator separator-noright pull-left">
              <button class="button button-bell" (click)="navigateToNotifications()"></button>
            </div>
            <div class="dropdown-toggle-box user separator">
              <button class="btn btn-transparent dropdown-toggle base strong text-uppercase " type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dota 2
                </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="wrapper container toggled">
  <!--sidebar-->
  <div class="sidebar-wrapper">
    <ul class="sidebar-nav" style="margin-left:0;">
      <!--here can be 'Open/Close' button-->
      <!--<li class="sidebar-brand">
        <a href="#menu-toggle" id="menu-toggle"> Toggle </a>
      </li>-->
      <!--'Open/Close' button-->
      <li>
        <a (click)="navigateToProfile()"><i class="icon icon-profile " aria-hidden="true"> </i> <span style="margin-left:10px;">Section</span> </a>
      </li>
      <li>
        <div class="label label-msg-count">22</div>
        <a href="#"> <i class="icon icon-news" aria-hidden="true"></i><span style="margin-left:10px;"> Section</span></a>
      </li>
      <li>
        <a href="#"> <i class="icon icon-messages" aria-hidden="true"> </i> <span style="margin-left:10px;"> Section</span> </a>
      </li>
      <li>
        <a href="#"> <i class="icon icon-awards" aria-hidden="true"> </i> <span style="margin-left:10px;"> Section</span> </a>
      </li>
      <li>
        <a href="#"><i class="icon icon-market" aria-hidden="true"> </i> <span style="margin-left:10px;">Section </span> </a>
      </li>
      <li>
        <a href="#"> <i class="icon icon-stats" aria-hidden="true"> </i> <span style="margin-left:10px;"> Section</span> </a>
      </li>
      <li>
        <a href="#"> <i class="icon icon-help" aria-hidden="true"> </i> <span style="margin-left:10px;"> Section</span> </a>
      </li>
      <li>
        <a href="#"> <i class="icon icon-star" aria-hidden="true"> </i> <span style="margin-left:10px;"> Section</span> </a>
      </li>
    </ul>
  </div>
  <!--sidebar end-->

  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-12">

      <!--component user-profile (styles user-profile.scss)-->
      <!-- TODO: This info needs component -->
      <div class="user-profile row">
        <div class="col-md-5 profile-box">
          <div class="panel-heading resume-heading">
            <div class="row">
              <div class="col-lg-12">
                <h1>User name</h1>
                <div class="col-xs-12 col-sm-4">
                  <figure>
                    <!--<img class="img-responsive" alt="" [src]="userInformationService.showUserProfileAvatar()">-->
                    <img alt="" class="img-responsive" ng-reflect-src="http://placehold.it/120x120" src="http://placehold.it/120x120">
                  </figure>
                  <div class="progress-box">
                    <p>До следующего уровня:</p>
                    <div class="progress">

                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <table class="table table-user-information">
                    <thead>
                      <tr>
                        <td>Уровень:</td>
                        <td>5</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Лига:</td>
                        <td>2018</td>
                      </tr>
                      <tr>
                        <td>Рейтинг:</td>
                        <td>01/24/1988</td>
                      </tr>
                      <tr>
                        <td>Репутация:</td>
                        <td>Female</td>
                      </tr>
                      <tr>
                        <td>Команда:</td>
                        <td>Kathmandu,Nepal</td>
                      </tr>

                    </tbody>
                  </table>
                  <div class="social-btns">

                    <div class="social-btn-holder">
                      <a href="#" class="btn btn-social btn-facebook">
                        <i class="fa fa-facebook">fb</i> </a>
                    </div>

                    <div class="social-btn-holder">
                      <a href="#" class="btn btn-social btn-twitter">
                        <i class="fa fa-twitter">tw</i> </a>
                    </div>

                    <div class="social-btn-holder">
                      <a href="#" class="btn btn-social btn-linkedin">
                        <i class="fa fa-youtube">ll</i> </a>
                    </div>

                    <div class="social-btn-holder">
                      <a href="#" class="btn btn-social btn-google">
                        <i class="fa fa-google">go</i></a>
                    </div>

                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="tags">
                    <span class="label label-info">Carry</span>
                    <span class="label label-info">Solo Mid</span>
                    <span class="label label-info">Scout</span>
                    <span class="label label-info">Ukraine</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 profile-banner">
          <p class="profile-info">Друзья, мы уехали на TI7! Пожелайте удачи :) Трансляция наших матчей на <a href="#">Твитче</a></p>
          <p class="profile-sign">DreamTeam - Dream Big!!!</p>
          <button class="btn btn-blue" type="button"></button>
        </div>
        <div class="col-md-12 navbar-main-wrapper">
          <ul class="navbar-nav navbar-main-user navbar-center">
            <li class="nav-item active">
              <a class="nav-link" (click)="navigateToProfile()">
                  МОЙ ПРОФИЛЬ <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">МОИ ДРУЗЬЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">МОЯ КОМАНДА</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">МОИ ДОСТИЖЕНИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">СПОНСОРЫ</a>
            </li>
          </ul>
        </div>
      </div>
      <!--component user-profile END-->

    </div>
    <div class="clearfix visible-xs-block"></div>


    <!--leagues-landing-header -->
    <!--<div class="leagues-header">
      <div class="row m-0">
        <div class="col-md-8">
          <h1>Турнир Базовой ЛИги</h1>
          <div class="media mb-1">
            <img class="award-price d-flex mr-1" src="https://api.randomuser.me/portraits/women/2.jpg" alt="Generic placeholder image">
            <div class="media-body text-xs-left">
              <div class="mt-0">
                <h2>Dota 2 GoodGame Cup 1x1 </h2>
                <table class="table table-user-information">
                  <tbody>
                  <tr>
                    <td>Лига:</td>
                    <td>2018</td>
                  </tr>
                  <tr>
                    <td>Рейтинг:</td>
                    <td>01/24/1988</td>
                  </tr>
                  <tr>
                    <td>Репутация:</td>
                    <td>Female</td>
                  </tr>
                  <tr>
                    <td>Команда:</td>
                    <td>Kathmandu,Nepal</td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <button class="btn btn-primary btn-md pull-right ml-1"><i class="icon icon-calendar"></i><span>Отслеживаeтся</span></button>
        </div>
      </div>
    </div>-->
    <!--leagues-landing-header-->


    <!--component pages-navigation-->
    <div class="col-md-12 pages-navigation">
      <ul class="nav nav-tabs justify-content-center mt-2">
        <li class="nav-item">
          <a class="nav-link active" (click)="navigateToHome()">ЛЕНТА</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ОБ игроке</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">СТАТИСТИКА</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <!--component pages-navigation END-->

    <div class="container bg-gray pt-2">

      <div class="col-md-12">

        <!--leagues-landing-->
        <!--<div class="leagues-landing">
          <div class="row pb-2">
            <div class="col-sm-6 col-md-3">
              <div class="card text-center">
                <h3 class="card-header">Лига БАЗОВАЯ</h3>
                <div class="card-block base-green">
                  <img class="card-img-top" src="https://api.randomuser.me/portraits/women/2.jpg" alt="Card image cap">
                  <p class="card-text caption white mt-1 mb-2">Short info about League fixie tote bag ethnic keytar. Neutra vinyl American Apparel kale chips tofu art party, cardigan raw denim quinoa. Cray paleo tattooed.</p>
                  <div class="media mb-1">
                    <img class="d-flex mr-1" src="https://api.randomuser.me/portraits/women/2.jpg" alt="Generic placeholder image">
                    <div class="media-body text-xs-left">
                      <div class="mt-0 blue"><a class="link caption">STAR LINE CUP Кубок Новичков</a></div>
                      <div class="time puny">завтра в 17:00</div>
                      <div class="award puny">Призовые: $ 500</div>
                    </div>
                  </div>
                  <div class="card-block-footer puny gray-light text-xs-left">
                    <div class="games">Сыграно матчей: 74 </div>
                    <div class="time-last">Последний матч 2 часа назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="card text-center">
                <h3 class="card-header">Лига МАСТЕРА</h3>
                <div class="card-block master-red">
                  <img class="card-img-top" src="http://api.randomuser.me/portraits/men/2.jpg" alt="Card image cap">
                  <p class="card-text caption white mt-1 mb-2">Short info about League fixie tote bag ethnic keytar. Neutra vinyl American Apparel kale chips tofu art party, cardigan raw denim quinoa. Cray paleo tattooed.</p>
                  <div class="media mb-1">
                    <img class="d-flex mr-1" src="http://api.randomuser.me/portraits/men/2.jpg" alt="Generic placeholder image">
                    <div class="media-body text-xs-left">
                      <div class="mt-0 blue"><a class="link caption">STAR LINE CUP Кубок Новичков</a></div>
                      <div class="time puny gray-light">завтра в 17:00</div>
                      <div class="award puny gray-light">Призовые: $ 500</div>
                    </div>
                  </div>
                  <div class="card-block-footer puny gray-light text-xs-left">
                    <div class="games">Сыграно матчей: 74 </div>
                    <div class="time-last">Последний матч 2 часа назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="card text-center">
                <h3 class="card-header">Лига ПРО</h3>
                <div class="card-block pro-black">
                  <img class="card-img-top" src="http://api.randomuser.me/portraits/men/2.jpg" alt="Card image cap">
                  <p class="card-text caption white mt-1 mb-2">Short info about League fixie tote bag ethnic keytar. Neutra vinyl American Apparel kale chips tofu art party, cardigan raw denim quinoa. Cray paleo tattooed.</p>
                  <div class="media mb-1">
                    <img class="d-flex mr-1" src="http://api.randomuser.me/portraits/men/2.jpg" alt="Generic placeholder image">
                    <div class="media-body text-xs-left">
                      <div class="mt-0 blue"><a class="link caption">STAR LINE CUP Кубок Новичков</a></div>
                      <div class="time puny gray-light">завтра в 17:00</div>
                      <div class="award puny gray-light">Призовые: $ 500</div>
                    </div>
                  </div>
                  <div class="card-block-footer puny gray-light text-xs-left">
                    <div class="games">Сыграно матчей: 74 </div>
                    <div class="time-last">Последний матч 2 часа назад</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="card text-center">
                <h3 class="card-header">Лига СТАР</h3>
                <div class="card-block star">
                  <img class="card-img-top" src="https://api.randomuser.me/portraits/women/90.jpg" alt="Card image cap">
                  <p class="card-text caption white mt-1 mb-2">Short info about League fixie tote bag ethnic keytar. Neutra vinyl American Apparel kale chips tofu art party, cardigan raw denim quinoa. Cray paleo tattooed.</p>
                  <div class="media mb-1">
                    <img class="d-flex mr-1" src="https://api.randomuser.me/portraits/women/90.jpg" alt="Generic placeholder image">
                    <div class="media-body text-xs-left">
                      <div class="mt-0 blue"><a class="link caption">STAR LINE CUP Кубок Новичков</a></div>
                      <div class="time puny gray-light">завтра в 17:00</div>
                      <div class="award puny gray-light">Призовые: $ 500</div>
                    </div>
                  </div>
                  <div class="card-block-footer puny gray-light text-xs-left">
                    <div class="games">Сыграно матчей: 74 </div>
                    <div class="time-last">Последний матч 2 часа назад</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row leagues-filter-row">
            <div class="col-md-12">
              <h2 class="title">Турниры Лиг</h2>
              <div class="dropdown dropdown-big">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown trigger
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>item1</li>
                  <li>item2</li>
                  <li>item3</li>
                </ul>
              </div>
              <ul class="nav nav-pills selector">
                <li role="presentation" class="active"><a class="link">Актуальные</a></li>
                <li role="presentation" ><a class="link">Будущие</a></li>
                <li role="presentation" ><a class="link">Прошедшие</a></li>
              </ul>
            </div>
          </div>

          <table class="table table-striped table-leagues base mt-2">
            <thead>
            <tr>
              <th>Название Турнира:</th>
              <th>Лига:</th>
              <th>Участники:</th>
              <th>Призовой Фонд:</th>
              <th>Дата:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Dota 2 GoodGame Cup 1x1 </th>
              <td>Базовая</td>
              <td>8</td>
              <td>$ 2000</td>
              <td>14.10.2016</td>
            </tr>
            <tr>
              <th scope="row">Dota 2 GoodGame Cup 1x1 </th>
              <td>Базовая</td>
              <td>8</td>
              <td>$ 2000</td>
              <td>14.10.2016</td>
            </tr>
            <tr>
              <th scope="row">Dota 2 GoodGame Cup 1x1 </th>
              <td>Базовая</td>
              <td>8</td>
              <td>$ 2000</td>
              <td>14.10.2016</td>
            </tr>

            </tbody>
          </table>
          <nav aria-label="table navigation" class="table-pagination">
            <ul class="pagination m-0">
              <li class="page-item">
                <div class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </div>
              </li>
              <li class="page-item"><a class="link page-link" href="#">1</a></li>
              <li class="page-item"><a class="link page-link" href="#">2</a></li>
              <li class="page-item"><a class="link page-link" href="#">3</a></li>
              <li class="page-item">
                <div class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </div>
              </li>
            </ul>
          </nav>

        </div>-->
        <!--leagues-landing END-->

      </div>

      <div class="col-sm-12 col-md-8 pr-0">

        <!--friends-rate-->
        <div class="friends-rate">
          <div class="table-box-content">
          <table class="table table-main toggle-arrow-tiny">
            <thead>
              <tr>
                <th class="table-hidden" colspan="2">
                  <div class="dropdown ml-2">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown trigger
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                      <li>item1</li>
                      <li>item2</li>
                      <li>item3</li>
                    </ul>
                  </div>
                </th>
                <th class="">Rate</th>
                <th class="">% wins</th>
                <th class="">KDA K/D/A</th>
                <th class="table-hidden"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="table-toggle active"></span>
                  <img alt="Scott Stevens" class="img-thumbnail img-circle" src="http://api.randomuser.me/portraits/men/19.jpg">
                </td>
                <td>
                  <p class="blue base">Patrick Smith</p>
                  <p>Bradley Rodriquez</p>
                  <p><img alt="flag" class="img-thumbnail img-width-16" src="https://img.abiosgaming.com/flags/Malaysia.png"></p>
                </td>
                <td>233</td>
                <td class="table-visible green">46%</td>
                <td ><span class="orange">5.03</span>(<span class="red">13.1</span>/ 4.7 /<span class="green">10.4</span>)</td>
                <td><span class="dropdown-menu-dots"></span></td>
              </tr>
              <tr class="table-row-detail">
                <td></td>
                <td class="table-row-detail-cell">
                  <div class="table-row-detail-inner">
                    <div class="table-row-detail-row">
                      <span class="table-row-detail-name">Команда:</span>
                      <span class="table-row-detail-value">с 24 авг,2016</span>
                    </div>
                    <div class="table-row-detail-row">
                      <img alt="flag" class="img-thumbnail img-width-32" src="https://img.abiosgaming.com/flags/Malaysia.png">
                      <span class="table-row-detail-value blue">Infamous</span>
                    </div>
                  </div>
                </td>
                <td class="table-row-detail-cell" colspan="4">
                  <div class="table-row-detail-inner">
                    <div class="table-row-detail-row">
                      <span class="table-row-detail-name">Роль в команде:</span>
                    </div>
                    <div class="table-row-detail-row">
                      <span class="table-row-detail-value">Капитан, Поддержка</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="table-toggle"></span>
                  <img alt="Scott Stevens" class="img-thumbnail img-circle" src="http://api.randomuser.me/portraits/men/20.jpg">
                </td>
                <td>
                  <p class="blue base">Patrick Smith</p>
                  <p>Bradley Rodriquez</p>
                  <p><img alt="flag" class="img-thumbnail img-width-16" src="https://img.abiosgaming.com/flags/Malaysia.png"></p>
                </td>
                <td>233</td>
                <td class="table-visible green">46%</td>
                <td ><span class="orange">5.03</span>(<span class="red">13.1</span>/ 4.7 /<span class="green">10.4</span>)</td>
                <td><span class="dropdown-menu-dots"></span></td>
              </tr>
              <tr class="table-row-detail" style="display: none">
                <td></td>
                <td>...Details here</td>
              </tr>
            </tbody>
            <!--<tfoot>
              <tr>
                <td colspan="5" class="table-visible">
                  <ul class="pagination pull-right">
                    <li class="table-page-arrow disabled"><a data-page="first" href="#first">«</a></li>
                    <li class="table-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li>
                    <li class="table-page active"><a data-page="0" href="#">1</a></li>
                    <li class="table-page"><a data-page="1" href="#">2</a></li>
                    <li class="table-page-arrow"><a data-page="next" href="#next">›</a></li>
                    <li class="table-page-arrow"><a data-page="last" href="#last">»</a></li>
                  </ul>
                </td>
              </tr>
            </tfoot>-->
          </table>
          </div>
        </div>
        <!--friends-rate-->

        <pages></pages>
      </div>

      <div class="col-md-4 hidden-sm-down">

        <!--component widget-add-friends -->
        <div class="widget  widget-friends">
          <div class="widget-content">
            <div class="input-group">
              <input class="form-control" type="text">
              <span class="input-group-btn">
              <button type="button" class="btn btn-primary ml-1"></button>
              </span>
            </div>
            <h3>Добавить друзей:</h3>
            <div class="col-md-12 p-0">
              <button class="btn btn-primary "><i class="fa fa-facebook"></i></button>
              <button class="btn btn-primary "><i class="fa fa-vk"></i></button>
              <button class="btn btn-primary "><i class="fa fa-twitter"></i></button>
            </div>
            <div class="clearfix"></div>
            <h3>Активности друзей:</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a href="#"><img alt="64x64" class="media-object img-thumbnail img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">                      </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading blue">Media heading</h4>
                    <span class="user-action caption caption-gray">Добавил публикацию</span>
                    <span class=" caption blue">Kiev Major 2017</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <!--END component widget-add-friends -->


      <div class="widget widget-games mt-1">
        <div class="col-md-12 widget-navigation nopadding">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item" [class.active]="isActiveFutureWidget()">
              <a class="nav-link" (click)="handleSetActiveFutureWidgetHandle()">Ближайшие матчи</a>
            </li>
            <li class="nav-item" [class.active]="isActiveCurrentWidget()">
              <a class="nav-link" (click)="handleSetActiveCurrentWidgetHandle()">Прошедшие матчи</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>

        <div class="widget-content">
          <matches [isFuture]="isActiveFutureWidget()" [matchesCount]="5"></matches>
        </div>
      </div>

      <!--component widget-players-rate -->
      <div class="widget widget-players-rate">
        <h1>Рейтинг игроков</h1>
        <div class="col-md-12 widget-navigation nopadding">
          <ul class="nav nav-tabs justify-content-center nopadding">
            <li class="nav-item">
              <a class="nav-link active" href="#">Топ-5 игроков</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Рейтинг друзей</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>

        <div class="widget-content">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">1</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-thumbnail img-circle">
              </div>
              <div class="col-sm-12 col-md-7">
                <h4 class="name blue">Dendi</h4>
                <div><i class="flag flag-ukraine-16"></i></div>
              </div>
              <div class="col-sm-12 col-md-2 nopadding">
                <span class="rate strong">240</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">2</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/47.jpg" alt="Scott Stevens" class="img-thumbnail img-circle">
              </div>
              <div class="col-sm-12 col-md-7">
                <h4 class="name blue">UNiVeRsE</h4>
                <div><i class="flag flag-fr"></i></div>
              </div>
              <div class="col-sm-12 col-md-2 nopadding">
                <span class="rate strong">238</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">3</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/48.jpg" alt="Scott Stevens" class="img-thumbnail img-circle">
              </div>
              <div class="col-sm-12 col-md-7">
                <h4 class="name blue">ppd</h4>
                <div><i class="flag flag-wales"></i></div>
              </div>
              <div class="col-sm-12 col-md-2 nopadding">
                <span class="rate strong">233</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">4</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/48.jpg" alt="Scott Stevens" class="img-thumbnail img-circle">
              </div>
              <div class="col-sm-12 col-md-7">
                <h4 class="name blue">ppd</h4>
                <div><i class="flag flag-wales"></i></div>
              </div>
              <div class="col-sm-12 col-md-2 nopadding">
                <span class="rate strong">233</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">5</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/48.jpg" alt="Scott Stevens" class="img-thumbnail img-circle">
              </div>
              <div class="col-sm-12 col-md-7">
                <h4 class="name blue">ppd</h4>
                <div><i class="flag flag-wales"></i></div>
              </div>
              <div class="col-sm-12 col-md-2 nopadding">
                <span class="rate strong">233</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <!-- user-rate-state -->
            <li class="list-group-item user-rate-state">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">16</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <h5>Вы</h5>
                <img src="http://api.randomuser.me/portraits/men/48.jpg" alt="Scott Stevens" class="img-thumbnail img-circle">
              </div>
              <div class="col-sm-12 col-md-7">
                <h4 class="name blue">ppd</h4>
                <div><i class="flag flag-us"></i></div>
              </div>
              <div class="col-sm-12 col-md-2 nopadding">
                <span class="rate strong">197</span>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="widget-footer">
            <span class="icon icon-info"></span>
            <p class="see-all blue"><a href="#">Увидеть всех игроков</a></p>
          </div>

        </div>
      </div>
      <!--component widget-players-rate END-->

      <!--component widget-teams-rate -->
      <div class="widget widget-teams-rate">
        <h1>Рейтинг команд</h1>
        <div class="widget-content">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">1</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/19.jpg" alt="Scott Stevens" class="img-thumbnail">
              </div>
              <div class="col-sm-12 col-md-5 pr-0">
                <h4 class="name blue">Na'Vi</h4>
                <div><i class="flag flag-ukraine-16"></i></div>
              </div>
              <div class="col-sm-12 col-md-4 nopadding text-right">
                <span class="rate strong green">35</span>
                <span class="rate strong red">-24</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
                <div class="col-sm-1 nopadding text-center">
                  <span class="index strong">2</span>
                </div>
                <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                  <img src="http://api.randomuser.me/portraits/men/29.jpg" alt="Scott Stevens" class="img-thumbnail">
                </div>
                <div class="col-sm-12 col-md-5 pr-0">
                  <h4 class="name blue">Evil Genuises</h4>
                  <div><i class="flag flag-ukraine-16"></i></div>
                </div>
                <div class="col-sm-12 col-md-4 nopadding text-right">
                  <span class="rate strong green">35</span>
                  <span class="rate strong red">-24</span>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item active">
              <div class="user-team-label-box">
                <span class="user-team-label strong offset-xs-1">Ваша команда</span>
              </div>
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">3</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/59.jpg" alt="Scott Stevens" class="img-thumbnail">
              </div>
              <div class="col-sm-12 col-md-5 pr-0">
                <h4 class="name blue">DreamTeam</h4>
                <div><i class="flag flag-ukraine-16"></i></div>
              </div>
              <div class="col-sm-12 col-md-4 nopadding text-right">
                <span class="rate strong green">35</span>
                <span class="rate strong red">-14</span>
              </div>

              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">4</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/39.jpg" alt="Scott Stevens" class="img-thumbnail">
              </div>
              <div class="col-sm-12 col-md-5 pr-0">
                <h4 class="name blue">NewBee</h4>
                <div><i class="flag flag-ukraine-16"></i></div>
              </div>
              <div class="col-sm-12 col-md-4 nopadding text-right">
                <span class="rate strong green">35</span>
                <span class="rate strong red">-24</span>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <div class="col-sm-1 nopadding text-center">
                <span class="index strong">5</span>
              </div>
              <div class="col-sm-12 col-md-2 nopadding text-xs-center">
                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-thumbnail">
              </div>
              <div class="col-sm-12 col-md-5 pr-0">
                <h4 class="name blue">Alliance</h4>
                <div><i class="flag flag-ukraine-16"></i></div>
              </div>
              <div class="col-sm-12 col-md-4 nopadding text-right">
                <span class="rate strong green">35</span>
                <span class="rate strong red">-24</span>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="widget-footer">
            <span class="icon icon-info"></span>
            <p class="see-all blue"><a href="#">Полный список команд</a></p>
          </div>

        </div>
      </div>
      <!--component widget-teams-rate END-->

      <!--widget-forum-->
      <div class="widget widget-forum">
        <h1>Форум</h1>
        <div class="widget-content">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="col-md-12 base nopadding">The Boston Major 2016</span>
              <span class="puny">Посл. сообщение:</span>
              <span class="name-small puny blue">Kojima</span>
              <span class="time puny">3 минуты назад</span>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <span class="col-md-12 base nopadding">Нави играют: где смотреть, кроме Старладдера? (ссылка внутри)</span>
              <span class="puny">Посл. сообщение:</span>
              <span class="name-small puny blue">Kojima</span>
              <span class="time puny">3 минуты назад</span>
              <div class="clearfix"></div>
            </li>
            <li class="list-group-item">
              <span class="col-md-12 base nopadding">Возможные варианты ростера Na'Vi</span>
              <span class="puny">Посл. сообщение:</span>
              <span class="name-small puny blue">DexterMorgan[sucks]</span>
              <span class="time puny">21 минуты назад</span>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="widget-footer">
            <span class="icon icon-info"></span>
            <p class="see-all blue"><a href="#">Полный список команд</a></p>
          </div>

        </div>
      </div>
      <!--widget-forum END-->
    </div>

  </div>
</div>
<!--/row-->

</div>
<!-- /container -->


<footer class="footer">
  <div class="container-fluid">
    <span class="text-muted">Все права защищены</span>
  </div>
</footer>
<!--<background-panel></background-panel>-->

<modal-adapter></modal-adapter>


<!--template start END-->
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<!--<script type="text/javascript" src="./static/js/moment-with-locales.js"></script>
<script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript" src="./static/js/polyfills.js"></script>
<script type="text/javascript" src="./static/js/application.js"></script>-->
</body>
</html>