<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog team-sponsor-info" role="document">
    <!-- cabinet-add-player-modal component-->
    <div class="modal-content ">
      <div class="modal-header">
        <button
                class="close"
                type="button"
                aria-label="Close"
                (click)="hideRegistrationModal()"
        >
          <span aria-hidden="true"></span>
        </button>
        <div class="modal-title">
          <h1>Информация о Спонсоре</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="main-user-info">
          <div class="col-md-3">
            <img src="http://api.randomuser.me/portraits/men/29.jpg" alt="Scott Stevens" class="img-thumbnail border-0">
          </div>
          <div class="col-md-5">
            <h2>Raymond Guerrero</h2>
            <p>Рейтинг: <span>154</span></p>
            <p>At Instacart, we're building towards Amazon scale, with 1 hour delivery. Doing this requires us to solve fun & exciting big data, logistics and product based.</p>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary">Отправить Запрос</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-1">
            <h3>Информация</h3>
            <p>Instacart (YC S12) is building the best way for people everywhere in the world to shop for groceries. Using your phone or the web, you can order groceries and have them delivered to your door in minutes. You can choose from a variety of local stores including Whole Foods, Safeway, Costco, Mariano's, and more, as well as being able to mix items from multiple stores into one order.</p>
            <h3>Продукты</h3>
            <ul class="products-list">
              <li>
                <img alt="Scott Stevens" class="img-thumbnail " src="http://api.randomuser.me/portraits/men/31.jpg">
              </li>
              <li>
                <img alt="Scott Stevens" class="img-thumbnail " src="http://api.randomuser.me/portraits/men/32.jpg">
              </li>
              <li>
                <img alt="Scott Stevens" class="img-thumbnail " src="http://api.randomuser.me/portraits/men/33.jpg">
              </li>
              <li>
                <img alt="Scott Stevens" class="img-thumbnail " src="http://api.randomuser.me/portraits/men/34.jpg">
              </li>
            </ul>
            <h3>Клиенты</h3>
            <ul class="clients">
              <li>
                <img alt="Scott Stevens" class="img-thumbnail rounded-circle" src="http://api.randomuser.me/portraits/men/41.jpg">
                <span class="caption">TheMarodeuR</span>
              </li>
              <li>
                <img alt="Scott Stevens" class="img-thumbnail team-logo" src="http://api.randomuser.me/portraits/men/42.jpg">
                <span class="caption">TheMarodeuR</span>
              </li>
              <li>
                <img alt="Scott Stevens" class="img-thumbnail rounded-circle" src="http://api.randomuser.me/portraits/men/43.jpg">
                <span class="caption">TheMarodeuR</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fulid">
          <div class="row">
            <div class="col-md-12">
              <h3>Contacts</h3>
              <p>
                <a href="#" class="link mr-2">@Sr. Rails Engineer</a>
                <a href="#" class="link">@Lead Android Engineer</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End component- -->
  </div>
</div>
